
@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Cars!</h2>



<h2>Displaying list of cars</h2>
<h4 class="display-view" data-request-url='@Url.Action("DisplayViewWithAjax")'>Display Cars</h4>
<div id="result"></div>