
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Cars!</h2>

<h2>Displaying list of cars</h2>
<h4 class="display-view" data-request-url='@Url.Action("DisplayViewWithAjax")'>Display Cars</h4>
<div id="result"></div>

<div class="sale-display"></div>
<div id="save-new-sale"></div>


<h2>Add A new Car</h2>
<form action="NewCar" data-request-url="@Url.Action("NewCar")" class="new-car">
    <div class="form-group">
        <label for="newMake">Make: </label>
        <input type="text" name="newMake" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="newModel">Model: </label>
        <input type="text" name="newModel"  class="form-control"/>
    </div>
    <div class="form-group">
        <label for="newYear">Year:</label>
        <input type="text" name="newYear"  class="form-control"/>
    </div>
    <div class="form-group">
        <label for="newPrice">Price:</label>
        <input type="number" name="newPrice"  class="form-control"/>
    </div>
    <div class="form-group">
        <label for="newDescription">Description:</label>
        <input type="text" name="newDescription"  class="form-control"/>
    </div>
        <button type="submit" class="btn btn-info">Submit</button>
</form>
<div id="SaveNewCar"></div>


