/********** Nav **********/
.navbar-default {
    border-radius: 0;
    padding: 10px;
      top:0px;
      left:0px;
      height:100%;
      width:100%;
      border-color: black;
      background: black;
    }

.navbar-default .navbar-brand {
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    color: white;
}

